<h1><%= t 'pacientes.new.title'%></h1>

<%= render 'form' %>

<%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>  Voltar'.html_safe, pacientes_path, class: "btn btn-primary" %>

