<header class="navbar navbar-fixed-top  navbar-inverse">
  <div class="navbar-inner">
   
      <%= link_to "e-Prontuário", root_path, id: "logo", class: "navbar-brand" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    '#' %></li>
		  <% if user_signed_in? %>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
		  <% end %>
        </ul>
      </nav>
    
  </div>
</header>